body,header,main,footer,div{
    display: flex;
    flex:1;
    padding: 0;
    margin:0;
}

.colonne{
    flex-direction: column;
}

.flexNone{
    flex: none;
}

body{
    background-color: #404040;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #0a3782;
    padding: 1vh;
}

header a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 3em;
    font-weight: bold;
}

.texteLogo{
    font-size: 0.7em;
}

nav{
    background-color: #001e69;
}

nav a{
    flex:3;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1em;
}

.centre{
    flex:4;
}

main{
    background-color: #4a4a4a;
}

.imageProduit, .cadreDescription, .cadrePrix{
    padding: 5px;
}

.imageProduit{
    flex:2;
}

.imageProduit img{
    width: 100%;
}

.cadreDescription{
    flex:2;
}

.cadrePrix{
    background-color: #001e69;
}

.prixProduit{
    font-size: 2.5em;
    justify-content: center;
}

.boutonPanier{
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-weight: bold;
}

footer{
    background-color:#0a3782;
    padding: 2vh;
    justify-content: center;
}

/* .jaune{
    background-color: rgb(249,201,79);
} */

i{
    padding-right: 1vw;
}

.espaceV1{
    flex:1;
}

.espaceH{
    flex:none;
    height: 3vh;
}

.centreHV{
    justify-content: center;
    align-items: center;
}